

/* Barber Calendar Styles */
.barber-calendar {
    flex: 1;
    width: 320px;
    height: 600px;
    box-sizing:content-box;
    overflow-x: auto;
}

.container.mt-5 {
    display: flex; /* Use flexbox for layout */
    flex-wrap: wrap; /* Allow the items to wrap onto multiple lines */
    justify-content: space-between; /* Distribute items evenly with equal space around them */
    overflow-x: auto;
}


.barber-calendar:not(:last-child) {
    margin-right: 25px; /* Add margin to the right for all but the last calendar */
}

.barber-calendar:last-child {
    margin-right: 0; /* Remove margin from the right for the last calendar */
}
